In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/imdb-project-sql/sqlite.9.sql
/kaggle/input/imdb-project-sql/IMDB SQL project.txt
/kaggle/input/imdb-project-sql/movies.sqlite

In [2]:
import sqlite3 as sql #for running sql queries
import pandas as pd # for reading them

In [3]:
Database = '/kaggle/input/imdb-project-sql/movies.sqlite' #defining a variable
db = sql.connect(Database)
print('Database is connected successfully')

Database is connected successfully

In [4]:
#Query1 : GET ALL THE DATA FROM MOVIES
qry1 = "SELECT * FROM movies"
rd1 = pd.read_sql(qry1,db) 
print(rd1)

         id                            original_title     budget  popularity  \
0     43597                                    Avatar  237000000         150
1     43598  Pirates of the Caribbean: At World's End  300000000         139
2     43599                                   Spectre  245000000         107
3     43600                     The Dark Knight Rises  250000000         112
4     43601                               John Carter  260000000          43
...     ...                                       ...        ...         ...
4768  48395                               El Mariachi     220000          14
4769  48396                                 Newlyweds       9000           0
4770  48397                 Signed, Sealed, Delivered          0           1
4771  48398                          Shanghai Calling          0           0
4772  48399                         My Date with Drew          0           1

     release_date     revenue                                     title  \
0      2009-12-10  2787965087                                    Avatar
1      2007-05-19   961000000  Pirates of the Caribbean: At World's End
2      2015-10-26   880674609                                   Spectre
3      2012-07-16  1084939099                     The Dark Knight Rises
4      2012-03-07   284139100                               John Carter
...           ...         ...                                       ...
4768   1992-09-04     2040920                               El Mariachi
4769   2011-12-26           0                                 Newlyweds
4770   2013-10-13           0                 Signed, Sealed, Delivered
4771   2012-05-03           0                          Shanghai Calling
4772   2005-08-05           0                         My Date with Drew

      vote_average  vote_count  \
0              7.2       11800
1              6.9        4500
2              6.3        4466
3              7.6        9106
4              6.1        2124
...            ...         ...
4768           6.6         238
4769           5.9           5
4770           7.0           6
4771           5.7           7
4772           6.3          16

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bondâ€™s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4768  El Mariachi just wants to play his guitar and ...
4769  A newlywed couple's honeymoon is upended by th...
4770  "Signed, Sealed, Delivered" introduces a dedic...
4771  When ambitious New York attorney Sam is sent t...
4772  Ever since the second grade when he first saw ...

                                                tagline     uid  director_id
0                           Enter the World of Pandora.   19995         4762
1        At the end of the world, the adventure begins.     285         4763
2                                 A Plan No One Escapes  206647         4764
3                                       The Legend Ends   49026         4765
4                  Lost in our world, found in another.   49529         4766
...                                                 ...     ...          ...
4768  He didn't come looking for trouble, but troubl...    9367         5097
4769  A newlywed couple's honeymoon is upended by th...   72766         6485
4770                                               None  231617         7108
4771                           A New Yorker in Shanghai  126186         7109
4772                                               None   25975         7110

[4773 rows x 13 columns]

In [5]:
#Query2: Get All the data from directors
qry2="SELECT * FROM directors"
rd2=pd.read_sql(qry2,db)
print(rd2)

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [6]:
#Query3: CHECK HOW MANY MOVIES ARE PRESENT IN IMDB
qry3="SELECT COUNT(id) AS number_of_movies FROM movies"

rd3=pd.read_sql(qry3,db)
print(rd3)

   number_of_movies
0              4773

In [7]:
#Query4: FIND THESE 3 DIRECTORS: JAMES CAMERON ; LUC BESSON ; JOHN WOO
qry4="SELECT * FROM directors WHERE name IN ('James Cameron','Luc Besson','John Woo')"

rd4=pd.read_sql(qry4,db)
print(rd4)

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

In [8]:
#Query5: FIND ALL DIRECTORS WITH NAME STARTING WITH STEVEN.
qry5="SELECT name FROM directors WHERE name LIKE 'Steven%'"

rd5=pd.read_sql(qry5,db)
print(rd5)

                 name
0    Steven Spielberg
1   Steven Soderbergh
2        Steven Brill
3     Steven Zaillian
4        Steven Quale
5       Steven Seagal
6  Steven E. de Souza
7    Steven Shainberg
8    Steven R. Monroe

In [9]:
#Query6 : COUNT ALL THE FEMALE DIRECTORS
qry6="SELECT COUNT(gender) AS no_of_female_directors FROM directors WHERE gender=1"
rd6=pd.read_sql(qry6,db)
print(rd6)

   no_of_female_directors
0                     150

In [10]:
#Query7 : FIND THE NAME OF THE FIRST 10TH  WOMEN DIRECTOR
qry7="SELECT name FROM directors WHERE gender=1 ORDER BY id LIMIT 10 "
rd7=pd.read_sql(qry7,db)
print(rd7)

                  name
0       Brenda Chapman
1      Lilly Wachowski
2  Jennifer Yuh Nelson
3      Kathryn Bigelow
4         Nancy Meyers
5          Jill Culton
6           Mimi Leder
7         Vicky Jenson
8         Betty Thomas
9       Angelina Jolie

In [11]:
#Query8 : FIND THE NAME OF THE 10TH WOMEN DIRECTOR
qry8="SELECT name FROM directors WHERE gender=1 ORDER BY id LIMIT 1 OFFSET 10 "
rd8=pd.read_sql(qry8,db)
print(rd8)

           name
0  Karyn Kusama

In [12]:
#Query9 : WHAT ARE THE 3 MOST POPULAR MOVIES?
qry9="SELECT title FROM movies ORDER BY popularity DESC LIMIT 3"
rd9=pd.read_sql(qry9,db)
print(rd9)

          title
0       Minions
1  Interstellar
2      Deadpool

In [13]:
#Query10 : WHAT ARE THE 3 MOST Expensive MOVIES?
qry10="SELECT title FROM movies ORDER BY budget DESC LIMIT 3"
rd10=pd.read_sql(qry10,db)
print(rd10)

                                         title
0  Pirates of the Caribbean: On Stranger Tides
1     Pirates of the Caribbean: At World's End
2                      Avengers: Age of Ultron

In [14]:
#Query11 : WHAT IS THE MOST AWARDED AVERAGE VOTE SINCE JAN-1-2000?
qry11="SELECT title,vote_average FROM movies WHERE release_date>='2000-01-01' ORDER BY vote_average DESC LIMIT 1"
rd11=pd.read_sql(qry11,db)
print(rd11)

       title  vote_average
0  Sardaarji           9.5

In [15]:
#Query12: WHICH MOVIES WERE DIRECTED BY BRENDA CHAPMAN?
qry12="SELECT title FROM movies WHERE director_id=(SELECT id FROM directors WHERE name='Brenda Chapman')"
rd12=pd.read_sql(qry12,db)
print(rd12)

   title
0  Brave

In [16]:
#Query13 : NAME ALL THE MOVIES WITH POPULARITY > 99
qry13="SELECT title FROM movies WHERE popularity>99"
rd13=pd.read_sql(qry13,db)
print(rd13)

                                       title
0                                     Avatar
1   Pirates of the Caribbean: At World's End
2                                    Spectre
3                      The Dark Knight Rises
4                               Spider-Man 3
..                                       ...
86                              Pulp Fiction
87                             The Godfather
88           One Flew Over the Cuckoo's Nest
89                                  Whiplash
90                                It Follows

[91 rows x 1 columns]

In [17]:
#Query14 : FIND OUT ALL THE MOVIES THAT WERE RELEASED AFTER 2011-01-01
qry14="SELECT title FROM movies WHERE release_date>'2011-01-01'"
rd14=pd.read_sql(qry14,db)
print(rd14)

                                   title
0                                Spectre
1                  The Dark Knight Rises
2                            John Carter
3                Avengers: Age of Ultron
4     Batman v Superman: Dawn of Justice
...                                  ...
1203            All Superheroes Must Die
1204        Sanctuary: Quite a Conundrum
1205                           Newlyweds
1206           Signed, Sealed, Delivered
1207                    Shanghai Calling

[1208 rows x 1 columns]

In [18]:
#Most bankable director
qry15="SELECT name FROM directors WHERE id=(SELECT director_id FROM movies ORDER BY budget DESC LIMIT 1)"
rd15=pd.read_sql(qry15,db)
print(rd15)

           name
0  Rob Marshall